on property:sys.boot_completed=1
    start init-backlight-sh

service init-backlight-sh /vendor/bin/init.backlight.sh
    class main
    user root
    group root system
    seclabel u:r:su:s0
    disabled
    oneshot
